<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Responsive bootstrap landing template" />
  <meta name="author" content="Coderthemes" />
  <!-- 
        <link rel="shortcut icon" href="assets/favicon.ico" /> -->

  <title>Zooft</title>

  <!-- magnific-popup css -->
  <!-- <link rel="stylesheet" href="css/magnific-popup.css" /> -->

  <!-- owl carousel css -->
  <!-- <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
            <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css" /> -->

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

  <link href="css/remixicon.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

</body>

</html>