<template>
  <div id="wrapper">
    <div>
      <img :src="value.logoURL" alt="" />
    </div>
    <div>
      <h2>Nume: {{ this.value.name }}</h2>
      <h3>Address : {{ this.value.address }}</h3>
      <span class="data-span">CUI: {{ this.value.cui }}</span>
      <span class="data-span">Phone : {{ this.value.phone }} </span>
    </div>
    <router-link :to="{ name: 'edit', params: { id: this.id } }"
      >Edit</router-link
    >
    <br />
    <router-link :to="{ name: 'add', params: { id: this.id } }"
      >Add items to menu</router-link
    >
    <br />
    <router-link :to="{ name: 'menu', params: { id: this.id } }"
      >See menu</router-link
    >
    <br />
    <router-link :to="{ name: 'delete', params: { id: this.id } }"
      >Delete items from menu</router-link
    >
    <br />
    <Code />
  </div>
</template>

<script>
import firebase from 'firebase';
import { mapState } from 'vuex';
import Code from '@/components/QRGenerator.vue';
export default {
  name: 'Business',
  components: {
    Code
  },
  data() {
    return {
      value: ''
    };
  },
  created() {
    console.log('Created hook reads data');
    firebase
      .firestore()
      .collection('business')
      .doc(this.id)
      .get()
      .then(doc => {
        console.log(doc.data());
        this.value = doc.data();
      });
  },
  computed: {
    ...mapState(['id'])
  }
};
</script>

<style>
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-span {
  display: block;
}
</style>