<template>
  <!-- nothing to see here, just html -->
  <div>
    <section class="d-flex justify-content-center flex-column section-politica">
      <h1>Politica de confidențialitate</h1>
      <p>Informare privind prelucrarea datelor cu caracter personal</p>

      <h3>1. Introducere</h3>
      <p>
        Prezentul document este intocmit in acord cu si in vederea implementarii
        dispozitiilor Regulamentului (UE) nr. 2016/679 privind protectia
        persoanelor fizice in ceea ce priveste prelucrarea datelor cu caracter
        personal si privind libera circulatie a acestor date („Regulamentul”);
      </p>
      <p>
        Prezentul document va este adresat in calitatea dvs. utilizator al
        Platformei ZOOFT.ro (disponibila in varianta mobile si web, la adresa
        www.ZOOFT.ro) si are ca scop informarea dvs. in acord cu prevederile
        Regulamentului, cu privire la prelucrarea datelor dvs. cu caracter
        personal de catre ZOOFT SRL.
      </p>
      <p>
        In acord cu prevederile art. 13 din Regulament, va aducem la cunostinta
        urmatoarele informatii:
      </p>

      <h3>2. Identitatea si datele de contact ale Operatorului</h3>
      <p>
        Datele dvs. cu caracter personal sunt prelucrate de catre: Wolf Digital
        Media SRL, o societate romana, înregistrata la Registrul Comerţului,
        Strada Scoala Floreasca nr.31, Bucuresti, contact@wolfdigitalmedia.ro,
        0040.726.585.045 CUI 37760870, reprezentata prin Stan Dragos, in
        calitate de administrator.
      </p>
      <p>
        Conform Termenilor si Conditiile Platformei ZOOFT.ro, Wolf Digital Media
        SRL opereaza website-ul www.ZOOFT.ro si furnizeaza serviciile acestei
        platforme catre utilizatori (adica si catre dvs.) Pe cale de consecinta,
        Wolf Digital Media SRLprelucreaza o serie de date cu caracter personal
        care va apartin.
      </p>
      <p>
        Conform Regulamentului, WOLF DIGITAL MEDIA SRL detine calitatea de
        Operator, respectiv persoana juridica ce stabileste scopurile si
        mijloacele de prelucrare a datelor dvs. cu caracter personal.
      </p>
      <h3>3. Datele cu caracter personal pe care le prelucram</h3>
      <p>
        Putem prelucra urmatoarele date cu caracter personal, in ceea ce va
        priveste: nume si prenume, email, telefon, date privind rezervarea dvs.
        precum: localul la care ati facut rezervare, data, ora, ziua rezervarii;
        numarul de persoane pentru care ati facut rezervare; alte detalii ale
        rezervarii; daca ati anulat rezervarea, daca ati onorat sau nu
        rezervarea.
      </p>
      <h3>
        4. Scopurile in care va sunt prelucrate datele cu caracter personal
      </h3>
      <p>Prelucram datele dvs. in urmatoarele scopuri:</p>
      <ol>
        <li>
          Prelucram datele mentionate la art. 3, respectiv pentru a va putea
          furniza Serviciile Platformei ZOOFT.ro.ro, respectiv pentru a va putea
          crea rezervarea solicitata;
        </li>
        <li>
          Prelucram urmatoarele date: nume, prenume, email, telefon in scop de
          marketing, respectiv pentru a va transmite comunicari comerciale
          despre produsele si serviciile ZOOFT sau produsele si serviciile
          partenerilor nostri, sau pentru a va face recomandari de localuri.
          Prelucram aceste date numai daca avem consimtamantul dvs.
        </li>
      </ol>
      <p>
        Nu prelucram datele dvs. cu caracter personal in alte scopuri, urmand a
        va informa si/sau dupa caz a obtine consimtamantul dvs., conform
        prevederilor legale incidente, in situatia in care vom intentiona sa
        prelucram/vom prelucra datele dvs. cu caracter personal si in alte
        scopuri.
      </p>
      <h3>
        5. Temeiurile in baza carora prelucram datele dvs. cu caracter personal
      </h3>
      <p>
        Prelucram datele cu caracter personal mentionate la art. 3 in baza
        dispozitiilor art. 6 alin. 1 lit. b din Regulament, respectiv in temeiul
        executarii unui contract (respectiv pentru a va putea furniza Serviciile
        Platformei ZOOFT.ro conform Termenilor si Conditiilor Platformei, la
        care ati achiesat). Daca nu sunteti de acord sa ne furnizati datele
        aceste date nu va vom putea presta Serviciile noastre, respectiv nu veti
        avea posibilitatea de a utiliza Platforma ZOOFT.ro.
      </p>
      <p>
        Prelucram de asemenea datele dvs cu caracter personal mentionate la art.
        3 in baza dispozitiilor art. 6 lit. f din Regulament, respectiv in
        temeiul interesului nostru legitim, in situatia in care nu aveti un cont
        de utilizator in cadrul Platformei. Apreciem ca avem un interes legitim
        sa va prelucram datele dupa data rezervarii, in considerarea faptului ca
        puteti dori sa faceti rezervari ulterioare in cadrul platformei si
        cunoscand rezervarile dvs. anterioare putem sa va oferim un serviciu mai
        bun. Puteti sa ne solicitati oricand incetarea prelucrarii datelor dvs.
        in acest temei.
      </p>
      <p>
        De asemenea prelucram datele cu caracter personal mentionate la art. 3
        in baza dispozitiilor art. 6 alin. 1 lit. c din Regulament, in temeiul
        unei obligatii legale, atunci cand este necesar sa patram o evidenta a
        rezervarilor efectuate prin platforma, pentru a justifica serviciile
        prestate si facturate catre localuri.
      </p>
      <p>
        Prelucram urmatoarele date cu caracter personal: nume, prenume, email,
        telefon, in scop de marketing, in baza dispozitiilor art. 6 alin. 1 lit.
        a din Regulament, respectiv in baza consimtamantului dvs., daca ni l-ati
        acordat.
      </p>
      <h3>6. Perioada de stocare a datelor dvs. cu caracter personal</h3>
      <p>
        Vom stoca datele dvs. cu caracter personal mentionate la art. 3 dupa
        caz:
      </p>
      <ul>
        <li>
          Daca aveti un cont de utilizator in cadrul Platformei vom stoca datele
          dvs., astfel cum sunt mentionate la art. 3 pana la momentul la care
          contul dvs. de utilizator este sters (din initiativa dvs. sau a
          noastra, dupa caz). Puteti sterge datele privind rezervarile dvs. dupa
          onorarea acestora. Nu puteti sterge datele necesare pentru crearea
          contului de utilizator: nume, prenume, email, decat daca stergeti
          contul de utilizator in intregime;
        </li>
        <li>
          Daca nu aveti un cont de utilizator in cadrul Platformei vom stoca
          datele dvs., astfel cum sunt mentionate la art. 3 pana la onorarea
          rezervarii si o perioada de 1 an dupa aceasta, in considerarea
          faptului ca veti mai putea dori in aceasta perioada sa faceti
          rezervari prin platforma ZOOFT.ro iar pastrarea datelor dvs. ne ajuta
          sa va oferim un serviciu mai bun. Cu toate acestea aveti oricand
          posibilitatea de a ne solicita stergerea datelor dvs., cu exceptia
          situatiei in care ele sunt pastrate pentru ca nu ati onorat sau ati
          anulat o rezervare, caz in care suntem nevoiti sa le pastram intrucat
          in acord cu Termenii si Conditiile Platformei daca nu onorati sau
          anulati un numar de rezervari va putem interzice pe viitor utilizarea
          serviciilor ZOOFT.ro
        </li>
        <li>
          Cu titlu de exceptie, putem stoca datele dvs. aferente unei rezervari,
          chiar daca ati sters rezervarea, atunci cand pentru justificarea
          serviciilor pe care le prestam pentru localuri, respectiv din ratiuni
          de facturare si contabilitate este necesar sa pastram o evidenta a
          rezervarilor efectuate in cadrul platformei. Intr-o atare situatie
          daca ati solicitat stergerea rezervarilor dvs. nu vom folosi datele
          dvs. decat pentru scopul mai sus mentionat.
        </li>
        <li>
          Vom stoca datele dvs.: nume, prenume, email, telefon pe atunci cand le
          prelucram in scop de marketing, pana la momentul la care va retrageti
          consimtamantul, dar nu mai mult de 5 ani. La expirarea perioadei
          pentru care datele dvs. sunt stocate, acestea vor fi sterse sau
          anonimizate ireversibil.
        </li>
      </ul>
      <h3>7. Destinatarii datelor cu caracter personal</h3>
      <p>
        Datele dvs. cu caracter personal sunt prelucrate de catre noi, in
        calitate de Operator.
      </p>
      <p>
        Nu vom divulga datele dvs. cu caracter personal catre terti, cu
        urmatoarele exceptii: vom putea transmite datele dvs. catre localul la
        care ati efectuat rezervarea; vom putea transmite datele dvs. catre
        autoritatile competente care ne vor solicita sau carora avem obligatia
        de a le furniza datele dvs. in temeiul unei prevederi legale; vom putea
        transmite datele dvs. catre avocati, executori judecatoresti sau
        instante de judecata in situatia in care incalcati obligatiile asumate
        fata de ZOOFT.ro conform termenilor si conditiilor site-ului si
        intelegem sa ne exercitam drepturile legale in vederea recuperarii
        prejudiciului cauzat, alte situatii prevazute de lege.
      </p>
      <p>
        Precizam ca in fiecare situatie in care vom transmite datele dvs.
        tertilor ne vom asigura ca transferam numai acele date necesare pentru
        indeplinirea scopului in care datele dvs. sunt transmise, asigurandu-ne
        ca nu vom transmite in nicio situatie mai multe date decat este necesar.
      </p>
      <h3>8. Unde stocam datele dvs. cu caracter personal</h3>
      <p>
        Datele dvs. cu caracter personal sunt stocate pe teritoriul Uniunii
        Europene.
      </p>
      <h3>9. Masuri de securitate</h3>
      <p>
        Prelucram datele dvs. cu caracter personal, in acord cu politica noastra
        interna privind securitatea datelor. In acest sens va asiguram ca am
        implementat toate masurile de securitate impuse de legislatia in vigoare
        pentru asigurarea securitatii datelor dvs.
      </p>
      <p>
        In caz de incalcare a securitatii datelor dvs. cu caracter personal
        susceptibila sa genereze un risc ridicat pentru drepturile si
        libertatile dvs., va vom informa fara intarzieri despre aceasta
        incalcare si vom lua toate masurile necesare pentru a remedia problema
        si/sau pentru a atenua efectele negative.
      </p>
      <h3>10. Procese decizionale automate</h3>
      <p>
        Precizam ca nu folosim procese decizionale automate in ceea ce va
        priveste, respectiv nu veti face obiectul unor decizii bazate exclusiv
        pe prelucrarea automata, inclusiv crearea de profiluri.
      </p>
      <h3>11. Drepturile dvs.</h3>
      <ol>
        <li>
          <strong>Dreptul de acces.</strong><br />
          Aveti dreptul sa obtineti o confirmare a prelucrarii datelor dvs. cu
          caracter personal si sa obtineti accesul la aceste date. In masura in
          care ne veti transmite o solicitare in acest sens, va vom pune la
          dispozitie o copie a datelor cu caracter personal pe care le prelucram
          despre dvs. alaturi de toate informatiile pe care avem obligatia sa vi
          le furnizam, in acord cu prevederile Regulamentului.
        </li>
        <li>
          <strong>Dreptul de rectificare si stergere.</strong><br />
          Aveti dreptul sa solicitati corectarea datelor cu caracter personal
          incorecte, inexacte sau incomplete. De asemenea aveti dreptul sa
          solicitati stergerea datelor cu caracter personal cand acestea nu mai
          sunt necesare in raport de scopurile pentru care au fost prelucrate,
          sau daca prelucrarea acestora este ilegala.
        </li>
        <li>
          <strong>Dreptul la restrictionarea prelucrarii</strong><br />
          Aveti dreptul sa solicitati restrictionarea prelucrarii datelor dvs.
          cu caracter personal in urmatoarele cazuri: contestati exactitatea
          datelor, caz in care puteti solicita restrictioarea prelucrarii pentru
          perioada de timp in care facem verificam exactitatea datelor;
          prelucrarea este ilegala si va opuneti stergerii datelor; nu mai avem
          nevoie de datele dvs. cu caracter personal, dar dvs. le solicitati
          pentru constatarea, exercitarea sau apararea unui drept in instanta.
        </li>
        <li>
          <strong>Dreptul la opozitie</strong><br />
          Aveti dreptul sa va opuneti prelucrarii datelor dvs. cu caracter
          personal in scopuri de marketing sau din motive legate de situatia
          particulara in care va aflati. Intr-o atare situatie, nu vom mai
          prelucra datele dvs. cu caracter personal, cu exceptia situatiei in
          care vom demonstra ca avem motive legitime si imperioase care
          justifica prelucrarea si care prevaleaza asupra intereselor,
          drepturilor si libertatilor dvs.
        </li>
        <li>
          <strong>Dreptul la portabilitatea datelor</strong><br />
          Aveti dreptul de a primi datele cu caracter personal pe care ni le-ati
          furnizat si care va privesc intr-un format structurat, utilizat in mod
          curent si care poate fi citit automat. Aveti totodata dreptul de a
          transmite aceste date unui alt operator.
        </li>
      </ol>
      <h3>12. Exercitarea drepturilor dvs.</h3>
      <p>
        Pentru a va exercita oricare din drepturile, va rugam sa ne transmiteti
        solicitarea dvs. in scris, la adresa de email: hello@ZOOFT.ro
      </p>
      <p>
        Vom raspunde solicitarii dvs. fara intarzieri nejustificate, in termen
        de cel mult o luna, cu exceptia situatiei in care din cauza
        complexitatii sau a numarului cererilor vom fi nevoiti sa prelungim
        termenul de raspuns cu maxim 2 luni, conform Regulamentului.
      </p>
      <p>
        Totodata previzam ca va vom putea solicita sa furnizati informatii
        pentru a va confirma identitatea (de exemplu, sa faceti clic pe un link
        de verificare, sa introduceti un nume de utilizator sau o parola) pentru
        a va exercita drepturile.
      </p>
      <h3>13. Cookie-uri</h3>
      <p>
        Platforma ZOOFT.ro.ro foloseste cookie-uri, in special de urmatoarele
        tipuri: Cookie-uri de performanta si folosire a Aplicatiei; Cookie-uri
        de analiza a vizitatorilor; Cookie-uri de inregistrare. In acest scop
        folosim platforma Google Analytics. Cookie-urile nu solicita alte
        informatii cu caracter personal despre dvs. pentru a putea fi utilizate.
      </p>
      <p>
        Solicitarea de cookie-urile ne permite sa va oferim o experienta mai
        buna in cadrul Aplicatiei. Aveti posibilitatea de a dezactiva sau de a
        refuza primirea de cookie-uri insa exista riscul ca in acest caz
        accesarea Platforma ZOOFT.ro.ro sa devina dificil de vizitat si/sau
        utilizat.
      </p>
      <h3>14. Depunerea unei plangeri la Autoritatea de Supraveghere</h3>
      <p>
        In cazul in care apreciati ca drepturile dvs. au fost incalcate, puteti
        depune o plangere la Autoritatea de Supraveghere competenta, respectiv
        Autoritatea Nationala de Supraveghere a Prelucrarii Datelor cu Caracter
        Personal, cu sediul in B-dul G-ral. Gheorghe Magheru 28-30 Sector 1, cod
        postal 010336 Bucuresti, Romania.
      </p>
      <h3>15. Date de contact</h3>
      <p>
        Pentru orice solicitare ne puteti contacta la adresa de email:
        hello@ZOOFT.ro
      </p>
      <p>
        Prezentul document a fost creat si se afla in vigoare incepand cu data
        de: 01.07.2020
      </p>
    </section>

    <div class="position-relative">
      <div class="shape overflow-hidden text-footer">
        <svg
          viewBox="0 0 2880 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
            fill="#343a40"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>