<template>
  <div>
    <section class="tabs">
      <div class="container-test">
        <div
          @click="selected = 'food'"
          id="tab-1"
          class="tab-item "
          :class="{ 'tab-border': getSelected }"
        >
          <p>Mâncare</p>
        </div>
        <div
          @click="selected = 'drinks'"
          id="tab-2"
          class="tab-item"
          :class="{ 'tab-border': !getSelected }"
        >
          <p>Băuturi</p>
        </div>
      </div>
    </section>
    <!-- uses as prop the id of the business, the onClick refesh event is and emit function from the
    child component, that signals the DeleteMenu to update the arrays. Updating the arrays will
    automatically update the child components as they are dependent on the array prop -->
    <Food
      :food="food"
      :showDelete="true"
      @refresh="refreshComponent"
      :id="id"
      v-if="selected == 'food'"
    />
    <Drinks
      :drinks="drinks"
      :showDelete="true"
      @refresh="refreshComponent"
      :id="id"
      v-else
    />
  </div>
</template>

<script>
import firebase from 'firebase';
import Food from '@/components/Food.vue';
import Drinks from '@/components/Drinks.vue';
import { mapState } from 'vuex';
export default {
  name: 'Menu',
  data() {
    return {
      logoURL: '',
      drinks: [],
      food: [],
      selected: 'food',
      name: ''
    };
  },
  methods: {
    refreshComponent() {
      //calls filArrays which refreshes the food and drinks arrays
      this.fillArrays();
    },
    fillArrays() {
      this.drinks = [];
      this.food = [];
      // console.log('err happens here');
      //console.log(this.id);
      const ref = firebase
        .firestore()
        .collection('menus')
        .doc(this.id);

      ref.get().then(doc => {
        //console.log(doc.data());
        this.logoURL = doc.data().logoURL;
        this.name = doc.data().name;
      });
      ref
        .collection('food')
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(doc => {
            // doc.data() is never undefined for query doc snapshots
            //console.log(doc.id, ' => ', doc.data());
            let data = doc.data();
            data.id = doc.id;
            if (data.photoURL == '') {
              data.photoURL = 'http://zooft.ro/meniu-klandestin/img/nopic.png';

              //console.log(data.photoURL);
            }
            // console.log(data);
            this.food.push(data);
          });
        });
      ref
        .collection('drinks')
        .get()
        .then(querySnapshot => {
          querySnapshot.forEach(doc => {
            // doc.data() is never undefined for query doc snapshots
            //console.log(doc.id, ' => ', doc.data());
            let data = doc.data();
            data.id = doc.id;
            this.drinks.push(data);
          });
        });
      console.log('inside fil array)');
      console.log(this.drinks);
    }
  },
  components: {
    Food,
    Drinks
  },
  computed: {
    //used to know which component to load
    getSelected() {
      if (this.selected == 'food') return true;
      return false;
    },
    ...mapState(['id'])
  },

  created() {
    this.fillArrays();
  }
};
</script>

<style>
</style>
