<template>
  <div class="container-fluid text-dark">
    <div class="row">
      <div class="col-lg-6 col-md-7 ">
        <div class="float-left" id="left-div">
          <form id="request-form">
            <h3>
              Edit menu for business
            </h3>
            <div>
              <div class="row margin-bottom">
                <span class="float-left">Edit:</span>
              </div>
              <div class="row margin-bottom">
                <input
                  type="radio"
                  name="option"
                  value="food"
                  style="margin-right:8px"
                  v-model="radio"
                  checked="checked"
                />
                <label>Food</label>
              </div>
              <div class="row">
                <input
                  type="radio"
                  name="option"
                  value="drinks"
                  v-model="radio"
                  style="margin-right:8px"
                />
                <label>Drinks</label>
              </div>
              <div class="row margin-bottom">
                <div class="col">
                  <label for="name">Name</label>
                  <div class="input-group">
                    <input
                      type="text"
                      v-model="name"
                      placeholder="Food item"
                      class="form-control"
                      required
                      id="name"
                    />
                  </div>
                </div>
              </div>
              <div class="row margin-bottom">
                <div class="col">
                  <label for="price">Price</label>
                  <div class="input-group">
                    <input
                      type="text"
                      v-model="price"
                      placeholder="Food price"
                      class="form-control"
                      required
                      id="price"
                    />
                  </div>
                </div>
              </div>

              <div class="row margin-bottom">
                <div class="col">
                  <label for="description">Description</label>
                  <textarea
                    id="description"
                    v-model="description"
                    cols="30"
                    minrows="2"
                    placeholder="Lorem ipsun"
                    style="padding-bottom: 9px; resize: none; height: 80px;width:100%"
                  ></textarea>
                </div>
              </div>

              <div v-if="radio == 'food'" class="row margin-bottom">
                <div class="col">
                  <label for="file-control" id="imagedesc"
                    >Avatar image max size
                    <span style="color: red;"> 1MB</span></label
                  >
                  <!-- when changing input, filefetch is called, which sets via the store the reference to,
          where to place the file based on some parameters. -->
                  <input
                    @change="fileFetch"
                    type="file"
                    class="form-control "
                    id="file-control"
                  />
                </div>
              </div>

              <button
                @click.prevent="sendRequest"
                :disabled="isDisabled"
                type="submit"
                class="btn btn-primary btn-lg btn-block"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-5"></div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import { mapState } from 'vuex';
export default {
  data() {
    return {
      radio: 'food',
      name: '',
      price: '',
      description: '',
      file: '',
      storageRef: '',
      isFile: false
    };
  },
  computed: {
    ...mapState(['id']),
    isDisabled() {
      // this checks that at least something is written in the form before being able to submit
      if (
        this.name.length == 0 ||
        this.name.price == 0 ||
        this.description.length == 0
      )
        return true;
      return false;
    }
  },
  methods: {
    fileFetch(event) {
      // fetches the file from the file input, so it can be uploaded
      //console.log(event);
      this.file = event.target.files[0];
      this.isFile = true;
    },
    sendRequest() {
      let ref = '';

      // I KNOW, it is poorly written, but it works. Based on the radio option, sends different information to
      //different database locations, for food also uploads the image to firabase storage, then it
      //downloads the url and links it with the entry in the database
      if (this.radio == 'food') {
        ref = firebase
          .firestore()
          .collection('menus')
          .doc(this.id)
          .collection('food');
        if (this.isFile) {
          this.storageRef = firebase
            .storage()
            .ref(`images/${this.id}`)
            .child(this.file.name);
          this.storageRef.put(this.file).then(snapshot => {
            //console.log('uploaded a blob or a file');
            console.log(snapshot);
            this.storageRef.getDownloadURL().then(url => {
              ref
                .add({
                  price: this.price,
                  name: this.name,
                  description: this.description,
                  photoURL: url
                })
                .then(docRef => {
                  console.log('Document written with ID: ', docRef.id);
                  this.$router.push({
                    name: 'business',
                    params: { businessname: this.id }
                  });
                })
                .catch(function(error) {
                  console.error('Error adding document: ', error);
                });
            });
            //download image and append it to what needs to be appended
          });
        } else {
          ref
            .add({
              price: this.price,
              name: this.name,
              description: this.description,
              photoURL: ''
            })
            .then(docRef => {
              console.log('Document written with ID: ', docRef.id);
              this.$router.push({
                name: 'business',
                params: { businessname: this.id }
              });
            })
            .catch(function(error) {
              console.error('Error adding document: ', error);
            });
        }
      } else {
        ref = firebase
          .firestore()
          .collection('menus')
          .doc(this.id)
          .collection('drinks');
        ref
          .add({
            price: this.price,
            name: this.name,
            description: this.description
          })
          .then(docRef => {
            console.log('Document written with ID: ', docRef.id);
            this.$router.push({
              name: 'business',
              params: { businessname: this.id }
            });
          })
          .catch(function(error) {
            console.error('Error adding document: ', error);
          });
      }

      // console.log(ref);
      //request to database based on whether drinks or food was chosen
    }
  },
  created() {}
};
</script>

<style>
#left-div {
  margin-left: 16% !important;
}
.radio-div {
  display: block;
  width: 100%;
  float: left;
}
.margin-bottom {
  margin-bottom: 1.5rem;
}
#disabled-email {
  cursor: no-drop;
}
</style>