<template>
  <div id="form-div" class="container">
    <h1>Welcome to the edit page of the website</h1>
    <div class="col-sm-6">
      <form class="needs-validation" novalidate>
        <div class="form-group text-light input">
          <label class="text-label" for="name">Nume</label>
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="emailHelp"
            required
            v-model="businessname"
            placeholder="name"
          />
        </div>
        <div class="form-group text-light input">
          <label class="text-label" for="address">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            aria-describedby="emailHelp"
            required
            v-model="address"
            placeholder="Address"
          />
        </div>
        <div class="form-group text-light input">
          <label class="text-label" for="cui">CUI</label>
          <input
            type="text"
            class="form-control"
            id="cui"
            aria-describedby="emailHelp"
            required
            v-model="cui"
            placeholder="cui"
          />
        </div>
        <button @click.prevent="edit" class="btn btn-primary" type="submit">
          Trimite
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'Edit',
  data() {
    return {
      cui: '',
      address: '',
      businessname: ''
    };
  },
  computed: {
    ...mapState(['id', 'name'])
  },
  methods: {
    ...mapMutations(['updatename']),
    formatName(name) {
      let arr = name
        .trim()
        .toLowerCase()
        .split(' ');
      let string = '';
      for (let item in arr) {
        console.log(arr[item]);
        string = string + arr[item] + '-';
      }
      console.log(string.substring(0, string.length - 1));
      return string.substring(0, string.length - 1);
    },
    edit() {
      console.log('edit');
      firebase
        .firestore()
        .collection('business')
        .doc(this.id)
        .update({
          cui: this.cui,
          address: this.address,
          name: this.businessname
        })
        .then(() => {
          console.log('Document successfully updated!');
          this.updatename(this.formatName(this.businessname));
          this.$router.push({
            name: 'business',
            params: { businessname: this.name }
          });
        })
        .catch(error => {
          // The document probably doesn't exist.
          console.error('Error updating document: ', error);
        });
    }
  }
};
</script>

<style>
#form-div {
  margin: 3rem auto;
}
.text-label {
  color: gray;
}
</style>
