<template>
  <!-- nothing to see here, just html -->
  <div class="home">
    <section class="section bg-dark pb-0" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="home-wrapper">
              <div class="text-tran-box text-tran-box-dark">
                <h1 class="text-transparent font-weight-medium">
                  Fă cunoștință cu cea mai nouă interfață a domeniului HORECA
                </h1>
              </div>
              <p class="text-white-50">
                Zooft este menită să usureze munca angajaților din hotele,
                restaurante, cafenele și altele. Aplicația oferă posibilitatea
                de înregistrare și de stocare a datelor clienților, astfel încat
                să fie la îndemână și doar la un click distanță.
              </p>

              <div class="mt-4">
                <a
                  class="btn btn-outline-light text-left mt-1 mr-sm-2"
                  href="https://apps.apple.com/ro/app/zooft/id1521668913"
                >
                  <div class="media align-items-center">
                    <i class="ri-apple-fill h4 mr-2 my-0"></i>
                    <div class="media-body">
                      <strong class="d-block">Descarcă</strong>
                      <span>din App Store&nbsp;</span>
                    </div>
                  </div>
                </a>

                <a
                  class="btn btn-outline-light text-left mt-1"
                  href="https://play.google.com/store/apps/details?id=ro.wolfdigitalmedia.zooft"
                >
                  <div class="media align-items-center">
                    <i class="ri-android-fill h4 mr-2 my-0"></i>
                    <div class="media-body">
                      <strong class="d-block">Descarcă</strong>
                      <span>din play Store</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="clearfix"></div>
              <!-- <a
                href="http://vimeo.com/99025203"
                class="video-btn btn popup-video"
                ><i class="ri-play-fill"></i>Watch Video</a
              > -->
            </div>
          </div>
          <!-- end col -->

          <div class="col-lg-5 offset-lg-1 align-self-end col-sm-8">
            <div class="mt-5 mt-lg-0">
              <img
                src="../assets/images/iphone.png"
                alt="img"
                class="img-fluid b-block"
              />
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <div class="position-relative">
      <div class="shape overflow-hidden text-white">
        <svg
          viewBox="0 0 2880 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
    <section class="section container text-center">
      <h2 class="title">Parteneri</h2>
      <ul class="list-inline client-list">
        <li class="list-inline-item">
          <a href="" title="klandestin"
            ><img
              src="../assets/images/klandestin-full.png"
              alt="clients"
              style="height: 60px; opacity: 0.6;"
          /></a>
        </li>

        <!-- <li class="list-inline-item">
          <a href="" title="Converse"
            ><img src="../assets/images/converse.png" alt="clients"
          /></a>
        </li> -->
      </ul>
    </section>
    <section class="section" id="features">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6 text-center">
            <img
              src="../assets/images/bulb.png"
              class="img-fluid b-block"
              alt="img"
            />
          </div>

          <div class="col-sm-6">
            <div class="features-alt">
              <h3>Ce este Zooft?</h3>

              <p class="text-muted mt-5">
                Am pornit cu ideea de a simplifica procesul de înregistrare a
                clienților din zona horeca (și nu numai). Zooft îți ajută
                business-ul să stocheze datele clienților și să le acceseze
                ulterior, simplu si rapid.
              </p>

              <p class="text-muted">
                Aplicatia vine in sprijnul agentilor economici in conformitate
                si respectand Ordinul 966/1.809/105/2020 (al Ministerului
                Sănătății, Ministerului Economiei și ANSVSA), publicat în
                Monitorul Oficial al României, Partea I, nr. 461 din 30 mai
                2020.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-md">
      <div class="container">
        <div class="row align-items-center" id="mobile-section-md">
          <div class="col-sm-6">
            <div class="features-alt">
              <h3>Cum functioneaza zooft?</h3>

              <p class="text-muted mt-5">
                Zooft este foarte simplu de folosit! Trebuie doar sa descarci
                aplicatia din Google Play sau App Store, sa iti faci un cont de
                utilizator dedicat afacerii tale si sa il personalizezi (poti
                adauga logo, nume si altele).
              </p>

              <p class="text-muted">
                Cu contul configurat, poti incepe sa adaugi clienti!
              </p>
            </div>
          </div>

          <div class="col-sm-6 text-center">
            <img
              src="../assets/images/design-2.png"
              class="img-fluid b-block"
              alt="img"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Client section start -->
    <section class="section" id="clients">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <div class="mb-4">
                <img
                  src="../assets/images/quote-icon.png"
                  alt="quote"
                  class="mx-auto d-block"
                />
              </div>
              <h2 class="title">Testimoniale</h2>
            </div>

            <div class="mt-5">
              <div
                class="owl-carousel owl-theme testi-carousel"
                id="testi-carousel"
              >
                <div class="item">
                  <div class="mb-4">
                    <div class="bg-light rounded p-4">
                      <p class="mb-0">
                        "Zooft ne-a ușurat foarte mult munca. Acum avem acces la
                        toți clienții noștri într-un singur loc și la un click
                        distanță!"
                      </p>
                    </div>
                    <div class="media pt-4">
                      <div class="avatar-lg mr-3">
                        <img
                          src="../assets/images/alexandra.jpg"
                          alt="testi-user"
                          class="rounded-circle img-fluid d-block mr-3"
                        />
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="font-16 mt-0 mb-2">Alexandra Zamfirescu</h4>
                        <p class="text-muted">
                          Manager KLANDESTIN
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end Col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <!-- Client section end -->
  </div>
</template>

<script>
export default {
  name: 'Home'
};
</script>
<style>
/* @import '../css/style.css'; */
</style>
