<template>
  <!-- <div class="container"> -->
  <div class="container-login d-flex justify-content-center align-items-center">
    <div class="login">
      <!-- <div class="card card-signin my-5"> -->

      <form class="form-signin">
        <div id="title">
          <h5 class="">
            Intra in contul tau!
          </h5>

          <div class="sign-up-mobile">
            <div v-if="state">
              <div class="form-label-group">
                <label for="inputName" class="font-weight-bold">Cod</label>
                <input
                  v-model="code"
                  type="text"
                  id="inputName"
                  class="form-control"
                  placeholder="Code"
                  autofocus
                />
              </div>
              <button
                @click.prevent="submitCode"
                class="btn btn-lg btn-block text-light font-weight-bold btn-shadow sign-in-button-class"
                type="submit"
              >
                Code
              </button>
            </div>

            <div v-else>
              <div class="form-label-group">
                <label for="inputName" class="font-weight-bold"
                  >Numar telefon</label
                >
                <input
                  v-model="phone"
                  type="text"
                  id="inputName"
                  class="form-control"
                  placeholder="Telefon"
                  autofocus
                />
              </div>

              <button
                @click.prevent="sendMessage"
                class="btn btn-lg btn-block text-light font-weight-bold btn-shadow sign-in-button-class"
                id="sign-in-button"
                type="submit"
              >
                Log In
              </button>
              <div id="recaptcha-container"></div>
            </div>
          </div>
        </div>

        <hr class="my-4" />
        <div id="custom">
          <a href="#">Probleme cu autentificarea?</a>
          <br />
          <a href="/signup"> No account? Sign up </a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import { mapMutations, mapState } from 'vuex';

export default {
  name: 'Login',
  data() {
    return {
      phone: '',
      verifier: '',
      confirmation: '',
      code: '',
      state: false
      // true state means enter code, false means enter number
    };
  },
  methods: {
    formatName(name) {
      let arr = name
        .trim()
        .toLowerCase()
        .split(' ');
      let string = '';
      for (let item in arr) {
        console.log(arr[item]);
        string = string + arr[item] + '-';
      }
      return string.substring(0, string.length - 1);
    },
    ...mapMutations(['updateid', 'changelogged', 'updatename']),
    submitCode() {
      this.confirmation
        .confirm(this.code)
        .then(user => {
          console.log(user.user.uid);
          this.updateid(user.user.uid);

          return user;
        })
        .then(user => {
          console.log(user);
          console.log('this is from the then');
          firebase
            .firestore()
            .collection('business')
            .doc(user.user.uid)
            .get()
            .then(doc => {
              console.log(doc.data());
              console.log('About to update the name');
              this.updatename(doc.data().name);
            })
            .then(() => {
              this.$router.push(
                {
                  name: 'business',
                  params: { businessname: this.formatName(this.name) }
                },
                () => {
                  this.changelogged(true);
                }
              );
            })
            .catch(err => {
              console.log('ERROR ', err);
            });
        })
        .catch(e => {
          console.log('error ', e);
        });
    },
    formatNumber() {
      this.phone = this.phone.replace(/\s/g, '');
    },
    sendMessage() {
      const appVerifier = this.verifier;
      //removes unecessary spaces
      this.formatNumber();
      firebase
        .auth()
        .signInWithPhoneNumber(this.phone, appVerifier)
        .then(confirmationResult => {
          console.log(confirmationResult);
          this.state = true;
          // SMS sent. Prompt user to type the code from the message, then sign th
          //confirmationResult.confirm(code);
          // user in with confirmationResult.confirm(code).
          this.confirmation = confirmationResult;
          console.log(this.confirmation);
        })
        .catch(function(error) {
          // Error; SMS not sent
          console.log('there is an error ', error);

          //   this.verifier.render().then(widgetId => {
          //     grecaptcha.reset(widgetId);
          //   });
        });
    },
    captcha() {
      this.verifier = new firebase.auth.RecaptchaVerifier(
        'recaptcha-container'
      );
      this.verifier.render();
      console.log(this.verifier);
    }
  },
  created() {
    firebase.auth().useDeviceLanguage();
    setTimeout(this.captcha, 500);
  },
  computed: {
    ...mapState(['name'])
  }
};
</script>

<style scoped>
.container-login {
  min-height: 90vh;
}
.login {
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
}
.height-label {
  height: 42px;
}
.form-signin {
  padding: 30px 40px;
}
.align-icon-sign-up {
  margin-right: 12px;
}
.or-class {
  padding-top: 10px;
  margin: 0 auto;
  opacity: 0.7;
  font-size: 12px;
}
.form-label-group {
  margin-top: 10px;
  text-align: left;
}
.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px !important;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}
.text-connetct {
  font-size: 18px;
}
#custom {
  margin-bottom: 1rem;
}
.sign-in-button-class {
  background-color: #f78664;
  font-size: 16px;
}
label {
  margin-bottom: 3px;
}
#title {
  padding-bottom: 15px;
}
#jumbotronText {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
#bottomText {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input.invalid label {
  color: red;
}

.input.invalid input {
  border: 1px solid red;
  background-color: #ffc9aa;
}
@media screen and (max-width: 575.98px) {
  .container-log-in-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
#errorpopup {
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.28) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.3) 0px 0px 1px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
  padding: 16px;
  /* transform: rotateX(0deg);
  transform-origin: 50% 0px 0px; */
  transition-property: visibility, height, margin-bottom, opacity, transform,
    padding;
  transition-duration: 0s, 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease-in-out;
}
.hide {
  display: none;
}
</style>
