<template>
  <div>
    <!-- <h1>Default menu for business {{ this.name }}</h1> -->
    <img :src="logoURL" alt="" />
    <section class="tabs">
      <div class="container-test">
        <div
          @click="selected = 'food'"
          id="tab-1"
          class="tab-item "
          :class="{ 'tab-border': getSelected }"
        >
          <p>Mâncare</p>
        </div>
        <div
          @click="selected = 'drinks'"
          id="tab-2"
          class="tab-item"
          :class="{ 'tab-border': !getSelected }"
        >
          <p>Băuturi</p>
        </div>
      </div>
    </section>
    <!-- See DeleteMenu for further explanations -->
    <Food :food="food" :showDelete="false" v-if="selected == 'food'" />
    <Drinks :drinks="drinks" :showDelete="false" v-else />
  </div>
</template>

<script>
import firebase from 'firebase';
import Food from '@/components/Food.vue';
import Drinks from '@/components/Drinks.vue';
export default {
  name: 'Menu',
  data() {
    return {
      logoURL: '',
      drinks: [],
      food: [],
      selected: 'food',
      name: ''
    };
  },
  components: {
    Food,
    Drinks
  },
  computed: {
    getSelected() {
      if (this.selected == 'food') return true;
      return false;
    }
  },
  created() {
    // console.log('inside the menu route');
    // console.log(this.$route.params.id);
    const ref = firebase
      .firestore()
      .collection('menus')
      .doc(this.$route.params.id);

    //gets logo and name from the doc
    ref.get().then(doc => {
      console.log(doc.data());
      this.logoURL = doc.data().logoURL;
      this.name = doc.data().name;
    });

    //next funtions get the food and drinks collection data and populate the right arrays that will be send
    //as prop to the child Food and Drinks components
    ref
      .collection('food')
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          // doc.data() is never undefined for query doc snapshots
          //console.log(doc.id, ' => ', doc.data());
          let data = doc.data();
          if (data.photoURL == '') {
            data.photoURL = 'http://zooft.ro/meniu-klandestin/img/nopic.png';
            console.log(data.photoURL);
          }
          console.log(data);
          this.food.push(data);
        });
      });
    ref
      .collection('drinks')
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          // doc.data() is never undefined for query doc snapshots
          //console.log(doc.id, ' => ', doc.data());
          this.drinks.push(doc.data());
        });
      });
  }
};
</script>

<style>
/*  ¯\_(ツ)_/¯ didn't write this */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.logo-imagine {
  width: 120px;
  margin: 15px AUTO;
}
.logo-imagine img {
  width: 100%;
}
.tabs {
  background: #000;
  padding-top: 1rem;
  color: #fff;
}

.tabs .container-test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  align-items: end;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
.tab-item p {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  font-family: Open Sans, Arial, Helvetica, sans-serif !important;
}

.tab-border {
  border-bottom: solid 3px #ffad13;
}
#tab-1-content,
#tab-2-content {
  display: none;
  opacity: 0;
}
.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.categorie {
  margin: 36px auto 24px auto;
  font-family: 'Playfair Display', serif !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.produs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #ebebeb;
  margin-top: 12px;
}
.test-farap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 6px;
}
.produs p {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.imaginea-mancarii {
  width: 45%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-right: 10px;
}
.imaginea-mancarii img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}
.descriere-produs {
  width: 50%;
}
.descriere {
  font-size: 12px;
  margin: 7px 0px 0px 0px;
  color: #707070;
  opacity: 0.8;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  text-transform: lowercase;
}
.top {
  display: flex;
  padding-bottom: 6px;
}
.bot {
  display: flex;
}
.titlu {
  font-weight: bold;
  margin: 0;
  width: 75%;
  font-family: Open Sans, Arial, Helvetica, sans-serif !important;
}
.pret {
  width: 25%;
  text-align: right;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  text-transform: lowercase;
}
.categorie-bautura {
  text-align: center;
  margin-top: 0.5rem;
}
</style>
