<template>
  <!-- nothing to see here, just html -->
  <div>
    <section class="d-flex justify-content-center flex-column section-politica">
      <h1>Termeni si Conditii</h1>
      <p>
        Prezentul document are natura juridica a unui contract la distanta
        incheiat intre: a) dumneavoastra in calitate de utilizator si b) Wolf
        Digital Media SRL, o societate romana, înregistrata la Registrul
        Comerţului, Strada Scoala Floreasca nr.31, Bucuresti,
        contact@wolfdigitalmedia.ro, 0040.726.585.045 CUI 37760870 in calitate
        de detinator al aplicatiei ZOOFT.
      </p>
      <h3>1. Definitii</h3>
      <p>
        Urmatorii termeni folositi in prezentul document vor avea urmatorul
        inteles (cu exceptia situatiei in care acestia sunt folositi in mod
        vadit in alt sens):
      </p>
      <ol>
        <li>
          “Aplicatie” – Aplicatia ZOOFT, astfel cum aceasta este disponibila in
          varianta desktop la adresa ZOOFT.ro si in varianta mobile in App Store
          si Google Play;
        </li>
        <li>
          “Cont de utilizator” – Contul pe care orice Utilizator il poate crea
          in cadrul Aplicatiei pentru a putea utiliza Aplicatia;
        </li>
        <li>
          “ZOOFT” si/sau “Noi”- Wolf Digital Media SRL, o societate romana,
          înregistrata la Registrul Comerţului, Strada Scoala Floreasca nr.31,
          Bucuresti, contact@wolfdigitalmedia.ro, 0040.726.585.045 CUI 37760870,
          in calitate de detinator al aplicatiei ZOOFT; ZOOFT detine toate
          drepturile de proprietate intelectuala asupra Aplicatiei, precum si
          dreptul de comercializare a acesteia;
        </li>
        <li>
          “Dispozitiv mobil” – telefonul sau tableta pe care Aplicatia este
          descarcata, instalata si/sau utilizata;
        </li>
        <li>
          “Local” – orice restaurant, bar, cafenea, club, si/sau alte unitati
          listate in cadrul Aplicatiei in scopul de a primi rezervari din partea
          Utilizatorilor;
        </li>
        <li>
          “Rezervare” – rezervarea de catre Utilizatori a unui numar de locuri
          in Localuri, la o anumita data si o anumita ora; rezervarea se
          considera acceptata la momentul la care Utilizatorul primeste din
          partea ZOOFT sau a Localului confirmarea onorarii acesteia, prin
          telefon, email, sms sau notificare in cadrul Aplicatiei,
        </li>
        <li>
          “Platforma web” – platforma disponibila la adresa www.ZOOFT.ro la care
          poate fi accesata si utilizata Aplicatia in varianta desktop;
        </li>
        <li>
          “Servicii “- Serviciile oferite de catre ZOOFT Utilizatorilor prin
          intermediul Aplicatiei;
        </li>
        <li>
          “Termeni si Conditii” si/sau “T&C” – prezentul document, Politica de
          Confidentialitate precum si orice alte documente disponibile in cadrul
          Platformei ZOOFT.ro care reglementeaza relatia juridica dintre ZOOFT
          si Utilizatori;
        </li>
        <li>
          “Utilizator” – orice persoana descarca, instaleaza si/sau utilizeaza
          Aplicatia pe unul sau mai multe Dispozitive mobile si/sau pe Platforma
          web;
        </li>
      </ol>
      <h3>2. Acceptarea Termenilor si Conditiilor. Modificarea acestora.</h3>
      <p>
        Utilizatorii au dreptul de a utiliza Aplicatia numai dupa acceptarea
        prealabila a Termenilor si Conditiilor. T&C se considera inteles si
        acceptat in integralitate si fara rezerve atunci cand Utilizatorul
        efectueaza oricare dintre urmatoarele actiuni: a) Utilizatorul descarca
        si/sau instaleaza Aplicatia pe un Dispozitiv mobil; b) Utilizatorul
        bifeaza rubrica “accept termenii si conditiile” in procedura de creare a
        contului de utilizator; c) Utilizatorul foloseste Aplicatia pe
        Dispozitivul/dispozitivele mobile pe care aceasta a fost descarcata
        si/sau in cadrul Platformei web prin navigare in cadrul Aplicatiei
        si/sau prin plasarea unei rezervari.
      </p>
      <p>
        T&C pot fi modificati in mod unilaterat de catre ZOOFT, cu respectarea
        urmatoarei proceduri: Orice modificare a Termenilor si Conditiilor va fi
        adusa la cunostinta Utilizatorilor prin email sau prin notificare in
        cadrul Aplicatiei cu cel putin 10 zile inainte ca modificare sa intre in
        vigoare. Pe cale de exceptie, in situatia in care modificarea Termenilor
        si Conditiilor este generata de modificarea legislatiei aplicabile,
        modificarea va intra in vigoare imediat.
      </p>
      <p>
        Utilizatorii au dreptul sa renunte la utilizarea Aplicatiei (inclusiv sa
        isi stearga contul de utilizator) in situatia in care nu sunt de acord
        cu modificarea Termenilor si Conditiilor. Continuarea utilizarii
        Aplicatiei dupa intrarea in vigoare a noilor T&C reprezinta acordul
        Utilizatorilor cu privire la noua versiune a T&C.
      </p>
      <h3>3. Instalarea Aplicatiei. Cerinte minime de sistem.</h3>
      <p>
        Aplicatia este publicata de catre ZOOFT si poate fi descarcata din
        platformele App Store si Google Play. De asemenea, Aplicatia poate fi
        utilizata in varianta desktop la adresa www.ZOOFT.ro.
      </p>
      <p>
        Pentru functionarea corespunzatoare, recomandam instalarea Aplicatiei
        numai pe dispozitive mobile care indeplinesc urmatoarele cerintele
        minime de sistem: dispozitiv de comunicatii inteligent (telefon sau
        tableta avand cel putin 1 GB memorie RAM si cel putin procesor dual core
        minim 1 ghz), conexiune la Internet, GPS, spatiu liber de memorie,
        programul de operare IOS versiunea 8 sau versiuni mai recente sau
        Android versiunea 4.1. au versiuni mai recente.
      </p>
      <p>
        Pe cale de consecinta, nu garantam buna functionare a Aplicatiei nu ne
        asumam niciun fel de raspundere cu privire la eventualele prejudicii pe
        care le-ar suferi Utilizatorul ca urmare a instalarii aplicatiei din
        alta locatii de Internet decat cele prevazute mai sus, precum si ca
        urmare a instalari/utilizariii Aplicatiei pe un sistem/dispozitiv care
        nu indeplineste cerintele minime mai sus mentionate.
      </p>
      <h3>4. Crearea contului de Utilizator</h3>
      <p>
        ZOOFT confera posibilitatea utilizatorilor de a crea un cont de
        utilizator pentru utilizarea Aplicatiei. Crearea contului de utilizator
        se realizeaza prin log-in cu Facebook si/sau prin orice alta modalitate
        care va fi pusa la dispozitia Utilizatorilor in cadrul Aplicatiei.
      </p>
      <p>
        Pentru crearea contului de utilizator, Utilizatul va furniza toate
        datele si informatiile obligatorii solicitate in procedura de
        inregistrare. ZOOFT nu obliga nicio persoana sa furnizeze aceste date si
        informatii insa isi rezerva dreptul ca in lipsa furnizarii informatiilor
        si datelor solicitate sa nu permita deschiderea contului de utilizator.
      </p>
      <p>
        Utilizatorul este obligat sa furnizeze numai date si informatii reale si
        in mod special sa nu furnizeze date de identificare care nu apartin
        acestuia (spre exemplu sa nu foloseasca un nume, o adresa de email sau
        un numar de telefon false sau care apartine unei alte persoane si sa nu
        se logheze cu profile facebook false sau care apartin altor persoane).
        Pe cale de consecinta, ZOOFT isi rezerva dreptul de a verifica
        verificitatea datelor si informatiilor furnizate de utilizatori in
        procedura crearii contului de utilizator, precum si dreptul de a refuza
        deschiderea unui cont de utilizator daca informatiile furnizate sunt
        nereale, sau dupa caz de a suspenda sau inchide un astfel de cont.
      </p>
      <p>
        Totodata, Utilizatorul intelege si accepta ca este exclusiv si deplin
        responsabil pentru informatiile furnizate in procedura crearii contului
        de utilizator, atat fata de ZOOFT, cat si fata de orice alt tert care ar
        putea fi prejudiciat.
      </p>
      <p>
        Contul de utilizator are caracter personal. Utilizatorul se obliga sa nu
        transfere (temporar sau permanent, cu titlu gratuit sau oneros) dreptul
        de utilizare al Aplicatiei sau contul de utilizator niciunui tert, si sa
        pastreze confidentialitatea datelor de acces in Aplicatie.
      </p>
      <h3>5. Utilizarea Aplicatiei</h3>
      <p>5.1. Scopul utilizarii Aplicatiei</p>
      <p>
        Aplicatia poate fi utilizata in scopul rezervarii de mese in Localuri.
        Totodata, Aplicatia permite crearea de recenzii pentru Localurile
        vizitate ca urmare a efectuarii unei rezervari in cadrul Aplicatiei. Se
        interzice utilizarea Aplicatiei in orice scop contrar sau neconform
        scopului pentru care aceasta a fost creata, precum si in orice scop sau
        modalitate interzisa de lege.
      </p>
      <p>5.2. Conferirea dreptului de utilizare a Aplicatiei</p>
      <p>
        ZOOFT confera Utilizatorului un drept de utilizare a Aplicatiei pe o
        perioada de timp nedeterminata, incepand cu instalarea/utilizarea
        Aplicatiei, sub conditia respectarii prezentelor T&C si a legislatiei
        aplicabile.
      </p>
      <p>
        Dreptul de utilizare poate fi limitat, suspendat sau dupa caz retras de
        catre ZOOFT oricand, fara o prealabila notificare a Utilizatorului. De
        regula, dreptul de utilizare va fi retras in situatii precum:
        Utilizatorul isi incalca obligatiile impuse prin prezentele T&C si/sau
        prin lege; Utilizatorul foloseste Aplicatia cu rea credinta, producand
        sau existand riscul sa produca prejudicii ZOOFT sau altor terti;
        Utlizatorul comite sau ZOOFT apreciaza ca Utilizatorul intentioneaza sa
        comita orice frauda cu privire la Aplicatie; Utilizatorul este inactiv
        pe o perioada mai mare de 24 luni; ZOOFT decide sa retraga Aplicatia din
        App Store/Google Play sau de la adresa web www.ZOOFT.ro si/sau sa
        limiteze accesul Utilizatorilor la aceasta.
      </p>
      <p>
        Dreptul de utilizare al Aplicatiei este conferit gratuit, cu exceptia
        situatiei in care in cadrul Aplicatiei este specificat un pret pentru
        utilizarea Aplicatiei.
      </p>
      <p>5.3. Efectuarea rezervarilor</p>
      <p>
        Rezervarile vor fi efectuate de catre Utilizatori prin intermediul
        Aplicatiei. Pentru evitarea oricarui dubiu, orice rezervare efectuata de
        catre un Utilizator trebuie sa fie confirmata de catre Local. Rezervarea
        se considera confirmata in momentul in care ZOOFT sau dupa caz Localul
        comunica Utilizatorului confirmarea rezervarii prin: email, sms, telefon
        si/sau notificare in cadrul Aplicatiei. Rezervarea va fi confirmata in
        cel mai scurt timp, cu respectarea programului de functionare al
        Localului.
      </p>
      <p>
        Utilizatorul intelege si accepta ca o Rezervare poate sa nu fie
        confirmata in situatii precum dar fara a se limita la: gradul maxim de
        ocupare al Localului a fost atins; Localul nu onoreaza rezervari;
        Localul este inchis sau organizeaza evenimente private si/sau in orice
        alte cazuri. Intr-o atare situatie vom incerca sa anuntam Utilizatorul
        privind imposibilitatea acceptarii rezervarii in cel mai scurt timp.
      </p>
      <p>
        Utilizatorul se obliga sa onoreze rezervarile care au fost confirmate de
        catre ZOOFT/Local, iar in cazul in care acesta nu poate onora o
        rezervare se obliga sa notifice Localul si/sau ZOOFT cu privire la
        anularea rezervarii. Anularea rezervarii se poate notifica dupa caz
        prin: notificare in cadrul aplicatiei, telefon sau email. De regula se
        solicita Utilizatorului sa anuleze orice rezervare cu cel putin o ora
        inainte de ora rezervarii, cu exceptia situatiei in care o alta perioada
        pentru anularea rezervarii este specificata in pagina Localului.
      </p>
      <p>
        In masura in care Utilizatorul nu onoreaza in mod repetat rezervarile
        si/sau nu anuleaza rezervarile in termenul convenit, ZOOFT isi rezerva
        dreptul de a suspenda sau anula dreptul acestuia de a utiliza Aplicatia.
      </p>
      <p>5.4. Recenzii cu privire la Localuri</p>
      <p>
        Utilizatorilor li se confera posibilitatea de a scrie recenzii in
        Aplicatie privind Localurile pentru care au facut si au onorat o
        rezervare.
      </p>
      <p>
        Toate Recenziile trebuie sa fie reale si sa fie efectuate cu buna
        credinta, sub sanctiunea stergerii acestora si/sau a suspendarii sau
        anularii dreptului de a utiliza Aplicatia. De asemenea se interzice
        utilizarea unui limbaj vulgar, defaimator sau discriminatoriu in
        recenzii. Prin publicarea unei recenzii, Utilizatorul accepta ca aceasta
        sa fie publicata in cadrul Aplicatiei alaturi de prenumele
        Utilizatorului. O recenzie odata publicata, poate fi retrasa numai cu
        acordul ZOOFT.
      </p>
      <p>5.5. Drepturile si obligatiile utilizatorilor</p>
      <p>Utilizatorii se obliga:</p>
      <ol>
        <li>
          sa foloseasca aplicatia cu buna credinta, cu respectarea dispozitiilor
          legale incidente si numai in scopul in care aceasta a fost creata;
        </li>
        <li>sa utilizeze Aplicatia numai in scop personal;</li>
        <li>
          sa nu comercializeze informatiile obtinute prin intermediul Aplicatiei
          si sa nu utilizeze aceste informatii pentru a face concurenta neloiala
          fata de ZOOFT sau fata de Localuri;
        </li>
        <li>
          sa nu efectueze nicio rezervare daca in acord cu dispozitiile legale
          nu au varsta necesara pentru a putea intra sau pentru a face
          consumatie intr-un anumit Local;
        </li>
        <li>
          sa efectueze rezervarile cu buna credinta si respectiv sa onoreze
          toate rezervarile facute prin intermediul Aplicatiei sau dupa caz sa
          anuleze rezervarile pe care nu le pot onora;
        </li>
        <li>
          sa scrie numai recenzii reale si sa dea dovada de buna credinta in
          scrierea acestora;
        </li>
        <li>
          In toate situatiile in care pentru utilizarea Aplicatiei sau a unei
          functii a acesteia se mentioneaza obligatia platii unui pret,
          utilizatorii se obliga sa achite pretul solicitat pentru a putea
          utiliza Aplicatia/functia Aplicatiei.
        </li>
      </ol>
      <p>Totodata se interzice Utilizatorilor:</p>
      <ol>
        <li>
          copierea partiala sau totala, decompilarea, dezasamblarea, crearea de
          opere derivate sau folosirea in orice alta modalitate a codului sursa
          al Aplicatiei, si/sau a textelor, imaginilor, video-urilor cuprinse in
          Aplicatie, precum si orice alt act prin care ar putea fi incalcata
          proprietatea intelectuala a ZOOFT asupra Aplicatiei;
        </li>
        <li>
          acordarea oricaror drepturi privind continutul Aplicatiei sau a
          contului de utilizator unei terte persoane;
        </li>
        <li>
          folosirea Aplicatiei in legatura cu orice dispozitiv sau serviciu
          destinat sa ocoleasca masurile tehnice de securitate implementate
          pentru a controla accesul la Aplicatie;
        </li>
        <li>
          copierea, modificarea, stergerea sau deteriorarea oricarei informatii
          continute pe echipamentele tehnice, incluzand dar nelimitandu-se la
          serverele si calculatoarele utilizate sau controlate de catre ZOOFT.
        </li>
        <li>
          folosirea Aplicatiei pentru a invada intimitatea tertilor sau pentru a
          obtine informatii despre oricare dintre utilizatorii Aplicatiei sau
          pentru a obtine o lista de utilizatori ai acesteia;
        </li>
        <li>
          utilizarea Aplicatiei pentru a incalca un drept legal al tertilor,
          inclusiv orice drept de confidentialitate, de autor sau alte drepturi
          de proprietate intelectuala, sau de a intreprinde orice actiune
          hartuitoare, calomnioasa, defaimatoare, abuziva, necinstita,
          amenintatoare, daunatoare sau altele similare; sau folosirea oricarei
          tehnologii de data mining, roboti sau similare de colectare a datelor;
        </li>
        <li>
          accesarea sau utilizarea frauduloasa a oricarei zone a Aplicatiei care
          poate fi accesata sub parola sau contra cost;
        </li>
        <li>
          utilizarea oricaror mijloace automate pentru a accesa sau utiliza
          Aplicatiei (inclusiv scripturi, “bot”, sau software similar);
        </li>
        <li>
          modificarea, traducerea, decompilarea, reproducerea, dezasamblarea,
          sau incercarea prin alte moduri a obtinerii accesului la cheia privata
          sau orice cheie dev (“dev key’) (acest termen este unul general
          cunoscut in industrie) asociate cu Aplicatia, continutul sau
          serviciile oferite, sau folosirea sau incercarea de utilizare a
          oricarei chei private sau dev key intr-un mod in care sa se incalce
          termenii prezentului document;
        </li>
        <li>
          orice alta actiune prin care s-ar putea crea concurenta neloiala ZOOFT
          sau prin care ar putea fi prejudiciate drepturile acestuia de orice
          fel (drepturi civile, comerciale, de natura intelectuala si altele)
        </li>
      </ol>
      <h3>6. Raspunderea partilor. Limitarea raspunderii.</h3>
      <p>6.1. Raspunderea utilizatorilor privind utilizarea Aplicatiei.</p>
      <p>
        Utilizatorul este in mod exclusiv si deplin responsabil pentru felul in
        care utilizeaza Aplicatia, precum si pentru consecintele acestei
        utilizari, inclusiv pentru eventualele prejudicii produse ca urmare a
        utilizarii Aplicatiei, atat fata de ZOOFT, cat si fata de Localuri si
        fata de terti. Pe cale de consecinta, ZOOFT nu poate fi tinut
        raspunzator pentru niciun fel de prejudicii cauzate Utilizatorilor,
        Localurilor sau tertilor prin sau ca urmare a utilizarii Aplicatiei.
      </p>
      <p>
        Totodata, in nicio situatie ZOOFT nu poate fi tinut raspunzator cu
        privire la o eventuala incalcare a legii sau a drepturilor unor persoane
        (Localuri sau terti) de catre Utilizatori ca urmare a utilizarii
        Aplicatiei. De asemenea ZOOFT nu este raspunzator fata de: eventuale
        rezervari efectuate de catre persoane sub varsta de 18 ani si incalcarea
        legii derivata din acest fapt.
      </p>
      <p>
        6.2. Limitarea raspunderii privind Serviciile Localurilor, onorarea
        Rezervarilor si relatia Utilizator – Localuri.
      </p>
      <p>
        ZOOFT nu raspunde in nicio situatie pentru: relatia Utilizator –
        Localuri in urma acceptarii rezervarii; imposibilitatea onorarii
        rezervarii de catre Local ulterior acceptarii acesteia; serviciile
        Localurilor si/sau alte asemenea.
      </p>
      <p>
        Pentru evitarea oricarui dubiu, Utilizatorul intelege si accepta ca
        efectueaza rezervari pe propria raspundere. Astfel Utilizatorul intelege
        si accepta ca ZOOFT pune la dispozitia acestuia un mijloc de efectuare a
        rezervarilor insa in nicio situatie listarea unui Local in cadrul
        Aplicatiei nu reprezinta o recomandare si/sau o garantie a ZOOFT cu
        privire la serviciile Localului. In acest sens, Utilizatorul intelege si
        accepta ca ZOOFT nu verifica in prealabil: serviciile Localului,
        inclusiv preturile si meniul, si nici indeplinirea conditiilor legale de
        functionare ale acestuia. De asemenea, recenziile Localurilor
        disponibile in cadrul Aplicatiei reprezinta exclusiv opinia
        utilizatorilor care le-au scris.
      </p>
      <p>
        De asemenea, Utilizatorul intelege si accepta ca ZOOFT preia
        informatiile despre Localuri de la acestea si nu poate fi tinut
        responsabil in cazul in care orice informatii cu privire la acestea nu
        sunt corecte (precum adresa, numar de telefon, numar locuri, imagini,
        meniu etc.). Totodata, ZOOFT nu poate fi tinut responsabil pentru nicio
        alta informatie facuta publica in cadrul Aplicatiei, daca aceasta este
        preluata de la terte parti.
      </p>
      <p>
        Nu in ultimul rand, Utilizatorul intelege si accepta ca ZOOFT
        intermediaza procesul de rezervare a meselor in Localuri, insa nu are
        control asupra modului in care Localul onoreaza rezervarile. Pentru
        acest motiv, ZOOFT nu poate fi tinut responsabil daca o rezervare nu
        poate fi onorata, sau este onorata in mod necorespunzator de catre
        Local.
      </p>
      <p>6.3. Limitarea raspunderii privind functionarea Aplicatiei</p>
      <p>
        ZOOFT pune la dispozitia utilizatorilor Aplicatia “asa cum este” si cu
        toate ca intentia noastra este aceea de a furniza un serviciu online
        continuu si stabil nu putem garanta disponibilitatea continua a
        Aplicatiei si/sau functionarea permanenta a acesteia la parametri
        tehnici optimi sau fara erori. Totodata nu putem asigura Utilizatorilor
        servicii de garantie si/sau mentenanta si/sau suport tehnic. Cu toate
        acestea, daca sesizati orice deficienta sau bug va rugam sa ne
        contactati pe email si vom incerca solutionarea problemei. In acest
        context, ZOOFT nu raspunde pentru eventualele prejudicii cauzate
        Utilizatorilor (si/sau pentru beneficiul nerealizat) daca Aplicatia nu
        functioneaza stabil si neintrerupt, nu functioneaza la parametri optimi,
        sau functioneaza cu erori.
      </p>
      <p>
        Totodata, desi ZOOFT depune tot efortul pentru asigurarea securitatii
        Aplicatiei ZOOFT nu raspunde in cazul in care din orice motiv
        telefoanele, tabletele sau calculatoarele utilizatorilor sunt afectate
        ca urmare a utilizarii acesteia. Totodata, ZOOFT nu raspunde daca
        utilizatorii inteleg sa isi instaleze Aplicatia pe sisteme (telefoane,
        tablete, calculatoare) care nu sunt compatibile cu aceasta, inclusiv in
        ipoteza in care functionarea acestor sisteme le este afectata.
      </p>
      <p>
        Este posibil ca Aplicatia sa includa uneori link-uri catre alte
        website-uri care nu sunt detinute de ZOOFT. Aceste linkuri sunt
        furnizate pentru a oferi informatii aditionale, insa fara a avea
        responsabilitatea continutului, securitatii, a politicilor de
        confidentialitate sau a oricarui lucru furnizat de terte site-uri.
      </p>
      <p>6.4. Repararea prejudiciului de catre ZOOFT</p>
      <p>
        In orice situatie in care raspunderea ZOOFT ar putea fi angajata, ZOOFT
        nu raspunde decat in limita pretului platit de catre Utilizatori pentru
        utilizarea Aplicatiei si nu este obligat in nici un caz sa repare
        beneficiul nerealizat de catre Utilizatori, pierderi de profit si/sau
        alte daune indirecte cauzate acestora.
      </p>
      <h3>7. Drepturi de proprietate intelectuala</h3>
      <p>
        ZOOFT detine toate drepturile de proprietate intelectuala asupra
        Aplicatiei in integralitatea sa (inclusiv codul sursa), precum si asupra
        siglei Aplicatiei (logo), oricaror elemente de design, text, si uneori
        asupra materialelor foto si/sau video prezente in cadrul Aplicatiei.
      </p>
      <p>
        Utilizatorii se obliga sa respecte drepturile de proprietate
        intelectuala ale ZOOFT si sa nu efectueze nicio actiune prin care
        acestea ar fi incalcate precum dar fara a se limita la: sa nu copieze,
        modifice, transforme, vanda, divulge codul sursa al Aplicatiei, logo-ul,
        elementele de design, orice text disponibil in aplicatie, sa nu incerce
        inregistrarea acestora la organismele competente si sa nu se opuna
        inregistrarii acestora de catre ZOOFT, sa nu creeze aplicatii similare
        daca prin aceasta actiune incalca drepturile de proprietate intelectuala
        ale ZOOFT.
      </p>
      <p>
        Totodata, in Aplicatie pot fi publicate elemente de text, grafica, foto
        sau video pentru care Localurile sau alte terte parti ar putea detine
        drepturi de proprietate intelectuala. Si intr-o atare situatie,
        Utilizatorii sunt obligati sa respecte drepturile de proprietate
        intelectuala si sa se abtina de la orice act care ar duce la incalcarea
        acestora.
      </p>
      <h3>8. Date cu caracter personal</h3>
      <p>
        ZOOFT colecteaza datele personale ale Utilizatorilor in limitele,
        scopurile si conditiile prevazute in Termeni si Conditii si/sau Politica
        de Confidentialitate. Prin descarcarea, instalarea si utilizarea
        Aplicatiei, precum si prin crearea contului de utilizator, utilizatorul
        acorda ZOOFT dreptul de stocare si prelucrare a datelor cu caracter
        personal introduse in Aplicatie. Dispozitiile Politicii de
        Confidentialitate se aplica in mod corespunzator.
      </p>
      <h3>9. Legea aplicabila si instanta competenta</h3>
      <p>
        Prezentul document este redactat in limba romana si va fi interpretat
        potrivit intelegerii sensului termenilor sai in limba romana.
      </p>
      <p>
        Prezentul document este guvernat de legislatia romana incidenta. Orice
        litigiu referitor la instalarea, utilizarea, dezinstalarea si orice alta
        activitate referitoare la Aplicatie se va supune spre solutionare
        instantelor judecatoresti competente de la sediul ZOOFT.
      </p>
      <h3>10. Alte dispozitii</h3>
      <p>
        Prezentul document a fost aprobat in data de 01.07.2020 si isi va
        produce efectele incepand cu aceasta data.
      </p>
      <p>
        Pentru orice aspecte legate de utilizarea Aplicatiei ne puteti contacta
        folosind adresa de email: suport@ZOOFT.ro
      </p>
    </section>
    <div class="position-relative">
      <div class="shape overflow-hidden text-footer">
        <svg
          viewBox="0 0 2880 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
            fill="#343a40"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style >
</style>
