<template>
  <div>
    <div class="tab-content">
      <div class="container">
        <div id="tab-1-content" class="tab-content-item show">
          <div class="tab-1-content-inner">
            <ul>
              <li class="produs" v-for="item in drinks" :key="item.name">
                <div class="top">
                  <p class="titlu">{{ item.name }}</p>
                  <p class="pret">{{ item.price }} lei</p>
                </div>
                <button
                  style="width:8rem"
                  @click.prevent="deleteEvent"
                  v-if="showDelete == true"
                  type="button"
                  class="btn btn-danger"
                >
                  Delete
                </button>
                <div class="descriere-produs">
                  <p class="descriere">
                    {{ item.description }}
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
  props: ['drinks', 'showDelete', 'id'],
  name: 'Drinks',
  created() {
    // console.log(this.drinks);
  },
  methods: {
    deleteEvent(event) {
      //gets the name of the selected component, so it will filter the entry in the array for that name
      let name = event.target.parentElement.children[0].children[0].textContent;
      //return the filtered array
      let filteredArray = this.filterArray(name);
      //id of the filtered item in the array
      let item_id = filteredArray[0].id;
      // console.log(filteredArray, item_id);

      //simply deleted the entry and emits an evend to the parent component, so the array will be updated
      //and this component will be refreshed
      firebase
        .firestore()
        .collection('menus')
        .doc(this.id)
        .collection('drinks')
        .doc(item_id)
        .delete()
        .then(() => {
          console.log('deleted entry');
          this.$emit('refresh');
        })
        .catch(e => {
          console.log('something happened, error is: ', e);
        });
    },
    filterArray(name) {
      return this.drinks.filter(item => item.name == name);
    }
  }
};
</script>

<style>
</style>
