<template>
  <div>
    <div class="tab-content">
      <div class="container">
        <div id="tab-1-content" class="tab-content-item show">
          <div class="tab-1-content-inner">
            <ul>
              <li class="produs" v-for="item in food" :key="item.name">
                <div class="top">
                  <p class="titlu">{{ item.name }}</p>
                  <p class="pret">{{ item.price }} lei</p>
                </div>
                <button
                  style="width:8rem"
                  @click.prevent="deleteEvent"
                  v-if="showDelete == true"
                  type="button"
                  class="btn btn-danger"
                >
                  Delete
                </button>
                <div class="bot">
                  <div class="imaginea-mancarii">
                    <img :src="item.photoURL" alt="" />
                  </div>
                  <div class="descriere-produs">
                    <p class="descriere">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import firebase from 'firebase';
export default {
  props: ['food', 'showDelete', 'id'],
  name: 'Food',
  created() {
    //console.log(this.food);
  },
  methods: {
    deleteDatabase(item_id) {
      firebase
        .firestore()
        .collection('menus')
        .doc(this.id)
        .collection('food')
        .doc(item_id)
        .delete()
        .then(() => {
          console.log('deleted entry');
          this.$emit('refresh');
        })
        .catch(e => {
          console.log('something happened, error is: ', e);
        });
    },
    deleteEvent(event) {
      //gets the name of the selected component, so it will filter the entry in the array for that name
      let name = event.target.parentElement.children[0].children[0].textContent;
      //return the filtered array
      let filteredArray = this.filterArray(name);
      //id of the filtered item in the array
      let item_id = filteredArray[0].id;
      // console.log(filteredArray, item_id);
      // console.log(this.id);
      // console.log(filteredArray[0].photoURL);
      if (
        filteredArray[0].photoURL !=
        'http://zooft.ro/meniu-klandestin/img/nopic.png'
      ) {
        //gets the storage reference from firebase storage, and then calls the methd that deletes
        //the entry from the firebase firestore
        var httpsReference = firebase
          .storage()
          .refFromURL(filteredArray[0].photoURL);
        console.log(httpsReference);
        httpsReference
          .delete()
          .then(() => {
            this.deleteDatabase(item_id);
          })
          .catch(e => {
            console.log('error while deleting file ', e);
          });
      } else {
        this.deleteDatabase(item_id);
      }
    },
    filterArray(name) {
      return this.food.filter(item => item.name == name);
    }
  }
};
</script>

<style>
</style>
