<template>
  <!-- FOOTER COMPONENT -->
  <div>
    <div class="position-relative">
      <div class="shape overflow-hidden text-footer">
        <svg
          viewBox="0 0 2880 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
            fill="#343a40"
          ></path>
        </svg>
      </div>
    </div>

    <footer class="bg-dark footer-one">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <h5>Support</h5>
            <ul class="list-unstyled">
              <li>
                <router-link to="/politica-de-confidentialitate"
                  >Politica de confidențialitate</router-link
                >
              </li>
              <li>
                <router-link to="/termeni-conditii"
                  >Termeni &amp; condiții</router-link
                >
              </li>
            </ul>
          </div>

          <div class="col-lg-6">
            <div>
              <h5>Contact us</h5>
              <ul class="list-unstyled">
                <li>
                  <strong class="font-secondary font-14">Adresa: </strong
                  >Intrarea Tudor Stefan 7-9
                </li>
                <li>
                  <strong class="font-secondary font-14">Telefon:</strong>
                  <a href="tel:0726585045">0726585045</a>
                </li>
                <li>
                  <strong class="font-secondary font-14">Email:</strong>
                  <a href="mailto:office@wolfdigitalmedia.ro"
                    >office@wolfdigitalmedia.ro</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->

      <div class="footer-one-alt">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="m-b-0 font-13 copyright">
                © 2020 Zooft by Wolfdigitalmedia.
              </p>
            </div>
            <div class="col-sm-6">
              <ul
                class="list-inline footer-social-one m-b-0 float-right"
                style="display:block"
              >
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/zooft.ro"
                    ><i class="ri-facebook-line"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/zooft.ro/"
                    ><i class="ri-instagram-line"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/company/zooftro"
                    ><i class="ri-linkedin-line"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>