<template>
  <!-- HEADER COMPONENT, has router link for navigation, might not be needed -->
  <nav
    class="navbar navbar-expand-lg navbar-default navbar-dark navbar-custom navbar-custom-dark bg-dark"
  >
    <div class="container">
      <!-- LOGO -->
      <router-link class="navbar-brand logo" to="/">
        <img
          src="../assets/images/zooft-logo-site.png"
          class="logo"
          alt="logo"
        />
      </router-link>

      <!-- Zooft -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <!-- 
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav ml-auto navbar-center" id="mySidenav">
            <li class="nav-item">
              <a href="#home" class="nav-link scroll">Home</a>
            </li>
          </ul>
        </div> -->
      <div v-if="logged == true">
        <router-link @click.native="logout" to="/">Logout</router-link>
        <router-link :to="{ name: 'business', params: { id: this.id } }">
          User
        </router-link>
      </div>

      <div v-else>
        <router-link to="/login">Login</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
import firebase from 'firebase';
import { mapMutations, mapState } from 'vuex';
export default {
  name: 'Header',
  methods: {
    logout() {
      console.log('aaa');
      firebase
        .auth()
        .signOut()
        .then(() => {
          // Sign-out successful.
          console.log('logged out');
          this.changelogged(false);
        })
        .catch(function(error) {
          // An error happened.
          console.log(error);
        });
    },
    ...mapMutations(['changelogged'])
  },
  computed: {
    ...mapState(['logged', 'id'])
  }
};
</script>
<style>
</style>