/* eslint-disable no-prototype-builtins */
<template>
  <div>
    <!-- <div v-if="qrPop == true">
      <button @click="download">Download Svg</button>
       <button @click="generateQRURL">AA</button>
    <div v-if="qrPop == true">
      <img :src="computedLink" alt="" srcset="" />
    </div> 
      <svg
        id="mySvg"
        download
        style="width:100vh;height:100vh"
        v-html="string"
      ></svg>
    </div> -->
    <button
      @click="
        generateQRSVG();
        showModal = true;
      "
    >
      Show QR
    </button>

    <div v-if="qrPop == true">
      <div
        id="myModal"
        :class="{ visible: showModal }"
        @click.stop="showModal = false"
        class="modal"
      >
        <div class="modal-content" @click.stop="">
          <span @click="showModal = false" class="close">&times;</span>
          <div v-if="qrPop == true">
            <svg
              id="mySvg"
              download
              style="width:50rem;height:50rem"
              v-html="string"
            ></svg>
            <button @click="download">Download Svg</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QRCode from 'qrcode';
// eslint-disable-next-line no-unused-vars
import SvgSaver from 'svgsaver';
import { mapState } from 'vuex';
export default {
  data() {
    return {
      link: '',
      qrcode: '',
      qrPop: false,
      showModal: false,
      string: '',
      svgsaver: '',
      address: 'localhost:8081',
      modal: ''
    };
  },
  computed: {
    ...mapState(['id']),
    computedLink() {
      return `localhost:8081/${this.id}`;
      //return 'https//youtube.com';
    }
  },
  methods: {
    generateQRURL() {
      QRCode.toDataURL(this.computedLink)
        .then(url => {
          console.log(url);
          this.qrcode = url;
          this.qrPop = true;
        })
        .catch(err => {
          console.error(err);
          this.qrPop = false;
        });
    },
    generateQRSVG() {
      QRCode.toString(`${this.address}/${this.id}`, (err, string) => {
        if (err) throw err;
        this.string = string;
        this.qrPop = true;
        console.log(string);
      });
    },
    download() {
      let svg = document.querySelector('#mySvg');
      this.svgsaver.asSvg(svg);
    }
  },
  created() {
    //yes i am fuly aware that i am using DOM inside VUE, I have found no way to use @click on the 'window' inline element, so there is no other way
    // this.modal = document.getElementById('myModal');
    // window.onclick = (event) => {
    //   if (event.target == this.modal) {
    //     this.showModal = false;
    //   }
    // };
    this.svgsaver = new SvgSaver();
  }
};
</script>

<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 50px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.visible {
  display: block !important;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>