<template>
  <div id="app">
    <Header />
    <router-view />

    <!-- can also pass named routes no need for that in this case -->
    <!-- <router-view name="edit"></router-view> -->
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'App',
  components: {
    Header,
    Footer
  }
};
</script>
<style>
/* Theme Name: Caxos - Responsive Bootstrap 4 Landing page template
   Author: Coderthemes
   Author e-mail: coderthemes@gmail.com
   Version: 1.0.0
   Created: March 2020
   File Description: Main Scss file of the template
*/
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito+Sans:wght@400;600&display=swap');
/*******************
    General
*******************/
body {
  font-size: 15px;
  color: #505458;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: #435966;
  color: #ffffff;
}

.logo {
  height: 22px;
}

a {
  text-decoration: none !important;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/*******************
    Helper
*******************/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 17px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-md {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title {
  margin-top: 0px;
  font-size: 26px;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.avatar-lg {
  height: 48px;
  width: 48px;
}

.shape {
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: -4px;
  left: 0;
}

.shape > svg {
  -webkit-transform: scale(2);
  transform: scale(2);
  width: 100%;
  height: auto;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

/* BUTTONS */
.btn {
  font-size: 12px;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-muted {
  color: #98a6ad !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
  background: #eceff2;
  border-color: #eceff2;
}

.video-btn {
  color: #ffffff !important;
  letter-spacing: 1px;
  padding-top: 20px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.video-btn i {
  margin-right: 7px;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  padding-left: 3px;
  margin-left: -12px;
}

/******************
    Navbar
*******************/
.navbar-default .navbar-nav > li > a {
  color: #182433 !important;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #3d62e0 !important;
}

.navbar-custom {
  background-color: #f2f6fa;
  border: none;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  z-index: 9999;
  /* -webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
  transition: background-color 1s ease-in-out, border 1s ease-in-out; */
}

.navbar-custom .navbar-brand {
  height: auto;
}

.navbar-custom-dark.navbar-default .navbar-nav > li > a {
  color: #ddd !important;
}

/* STICKY HEADER */

/******************
    Hero section
*******************/
.home {
  background-color: #fff;
  padding-bottom: 150px;
}

.home-wrapper p {
  font-size: 16px;
  color: #fff !important;
}

.text-tran-box {
  /* background: #3d62e0;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#f1556c),
    to(#6658dd)
  );
  background: linear-gradient(to left, #f1556c, #6658dd); */
  background: #df6746;
}

.text-transparent {
  background: #f2f6fa;
  color: #240e35;
  mix-blend-mode: lighten;
  overflow: hidden;
  font-size: 48px;
  margin-bottom: 40px;
  line-height: 54px;
  font-weight: 600;
}

.text-tran-box-dark .text-transparent {
  color: #ffffff;
  background: #343a40;
  mix-blend-mode: darken;
}

/******************
    Features
*******************/

/* FUN FACTS / Testimonials Box */

.features-alt h4 {
  font-style: italic;
  margin-bottom: 0px;
}

.features-alt h3 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.features-alt p {
  font-size: 15px;
  line-height: 24px;
}

/*******************
    Pricing
*******************/

/*******************
    Clients
*******************/
.client-list {
  padding-top: 30px;
}

.client-list img {
  margin: 5px 20px;
}

/*******************
    Subscribe Form
*******************/

/*******************
    Testimonial
*******************/

/*******************
    Contact
*******************/

/*******************
    FAQ
*******************/

/*******************
    Footer
*******************/
.footer {
  padding: 20px 0px;
  border-top: 1px solid #3b3b40;
}

.copyright {
  color: #98a6ad;
  margin: 0px;
}

.footer-one {
  color: #98a6ad;
  padding-top: 60px;
  padding-bottom: 0px;
}

.footer-one h5 {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.footer-one a {
  color: #98a6ad;
  line-height: 28px;
}

.footer-one a:hover {
  color: #ffffff;
}

.footer-one ul li {
  margin: 5px 0px;
}

.footer-one-alt {
  margin-top: 40px;
  padding: 20px 0px;
  border-top: 1px solid #3b3b40;
}

.footer-one-alt .copyright {
  line-height: 34px;
}

.footer-social-one {
  font-size: 24px;
  margin-bottom: 0px;
  width: 100%;
}

.footer-social-one li {
  padding: 0;
  margin: 0 2px !important;
}

.footer-social-one a {
  border-radius: 50%;
  text-align: center;
  background-color: #3d444b;
  width: 48px;
  display: block;
  height: 48px;
  line-height: 48px;
}

.footer-social-one a:hover {
  color: #ffffff;
  background-color: #3d62e0;
}

/*******************
    Home Register
*******************/

/*******************
    Home Subscribe
*******************/

/*******************
    Home Showcase
*******************/

/*******************
    Home Showcase
*******************/

/*******************
    Responsive
*******************/
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 20px 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-custom {
    padding: 10px 0px !important;
  }
  .navbar-custom .navbar-brand {
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-nav {
    margin: 7.5px 0px;
  }
  .navbar-toggler {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 9px 10px;
    margin-right: 15px;
    outline: 0 !important;
  }
  .navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: transparent;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px !important;
  }
  .navbar-default {
    border-bottom: 1px solid #343a40;
  }
  .navbar-custom-dark .navbar-toggler {
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .navbar-custom-dark.navbar-default .navbar-nav > li > a {
    color: #f9f9f9;
  }
  .features-alt {
    margin: 30px 0px;
    text-align: center !important;
  }
  .home-wrapper {
    text-align: center;
    margin-bottom: 40px !important;
  }
  .footer-one h5 {
    margin-top: 30px;
  }
  .footer-one-alt {
    text-align: center !important;
  }
  .footer-one-alt .footer-social-one {
    float: none !important;
    margin-top: 20px;
  }
  .section-politica {
    padding: 12px;
  }
}
/*# sourceMappingURL=style.css.map */
.item {
  max-width: 420px;
  margin: 0 auto;
}
.media {
  text-align: center;
}

.section-politica {
  max-width: 1140px;
  padding: 24px;
  margin: 0 auto;
}
</style>
